

// variable

$custom:    #ff5b5b;

$primary:   #672fed;
$success:   #10c469;
$info:      #3db9dc;
$danger:    #ff5d48;
$white:     #ffffff;
$black:     #000000;
$dark:      #28282e;
$light:     #f9f9f9;
$muted:     #7a7d84;

$lightdark: #e6e6e6;

$font-base : 14px;

$bg-gradient : linear-gradient(to bottom, #3a59af, #352786);

$shadow: 0 10px 35px 0 rgba(154, 161, 171, 0.1);

$font-family-primary : 'Noto Sans', sans-serif;
$font-family-secondary: 'Karla', sans-serif;