<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">

<head th:insert="partials/head :: head('BotaniBuddy')"></head>
<body>
<header th:replace="partials/navbar :: navbar"></header>

<div class="d-flex container create justify-content-center align-content-center">
    <div class="row">
      <div class="col">
        <h2>Create Post</h2>
        <form class="column" th:action="@{/posts/create}" th:method="post" th:object="${post}">
          <label for="title">Title:</label>
          <input type="text" name="title" th:field="*{title}" id="title"/>

          <label for="content">Body:</label>
          <textarea name="content" th:field="*{body}" id="content" rows="10" cols="35"></textarea>

          <input type="submit" value="Submit">
        </form>

      </div>
    </div>

</div>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>