<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="partials/head :: head('BotaniBuddy')"></head>
<body>
<header th:replace="partials/navbar :: navbar"></header>

<div class="page-wrapper d-flex container create justify-content-center align-content-center">
    <div class="container">
        <div class="row">
            <div class="column gap-10">

                <div class="row">
                    <a href="/posts" class="post-return"></a>
                </div>

                <div th:if="${post}" class="post row">
                    <div class="post-user-peek column align-center justify-center shrink">
<!--                TODO: SHOW POST-USER PROFILE PIC-->
<!--                        <div>-->
<!--                            <img class="img-circle profile-avatar" style="width: unset;" th:src="${user.profile_pic}"-->
<!--                                 id="profile-img" height="64px" width="64px" alt="User avatar">-->
<!--                        </div>-->
                    </div>
                    <div class="post-body column justify-center">
                        <div class="column post-head shrink">
                            <p class="row post-title"> [[${post.title}]] </p>
                            <div class="row justify-space-between post-user" th:if="${user}">
                                <span>[[${user.username}]]</span>
                                <span>[[${user.email}]]</span>
                            </div>
                        </div>
                        <p class="post-text"> [[${post.body}]] </p>


                    </div>

                </div>

                <h3 id="comments-title">Comments</h3>
                <div id="comments-container" class="container" th:if="${post.comments.size()>0}">
                    <div id="comments-feed" class="column justify-top gap-15">
                        <div th:each="comment: ${post.comments}"
                             class="comment-user-container row justify-left full-width no-gap">
                            <div class="comment-user-peek column align-center justify-center shrink">
<!--                        TODO: SHOW COMMENTED-USER PROFILE PIC-->
<!--                                <div>-->
<!--                                    <img class="img-circle profile-avatar" style="width: unset;" th:src="${comment.user.profile_pic}"-->
<!--                                         id="commentor-img" height="64px" width="64px" alt="User avatar">-->
<!--                                </div>-->
                            </div>
                            <div class="column align-left">
                                <p class="comment-username" th:text="${comment.user.username}"></p>
                                <p class="comment-user-said" th:text="${comment.content}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-center">
                    <a sec:authorize="!isAuthenticated()" th:href="@{users/login}" class="btn btn-primary post-btn post-edit-btn">Login</a>
                </div>

                <div sec:authorize="isAuthenticated()" class="nb-li">
                    <form class="row comment-user-container" th:action="@{/posts/comment}" th:method="post">
                        <label for="content">Content</label>
                        <div class="comment-user-peek column align-center justify-center shrink">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </div>

                        <div class="column align-left">
                            <p class="comment-username" th:text="${#authentication.principal.username}"></p>
                            <textarea name="content" id="content" maxlength="255"></textarea>
                            <input type="hidden" name="postId" th:value="${post.id}">
                        </div>
                        <button class="btn btn-primary post-btn post-edit-btn">Submit</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>



<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>