<footer th:fragment="footer">
  <div class="container footer">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <div class="footer-logo mb-3">
            <img src="/css/images/RabCarrot.png" alt="" height="80">
          </div>
          <ul class="list-inline footer-list text-center mt-5">
            <li class="list-inline-item"><a th:href="@{/#}">Home</a></li>
            <li class="list-inline-item"><a th:href="@{/#about}">About Us</a></li>
            <li class="list-inline-item"><a th:href="@{/#reviews}">Reviews</a></li>
            <li class="list-inline-item"><a th:href="@{/#contact}">Contact</a></li>
          </ul>
          <ul class="list-inline social-links mb-4 mt-5">
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
          </ul>
          <p class="text-white-50 mb-4">2023 © BotaniBuddy. Design by <a href="#" target="_blank" class="text-white-50">The Druids</a> </p>

        </div>
      </div>

    </div>

  </div>
</footer>