/*******************************
01.General
02.Helper
03.Navbar
04.Search On Nav
05.Home
06.About Us
07.Reviews
08.Contact
09.footer
10.Create User
11.Carousel
12.Login
13.Edit Profile
  .Responsive
********************************/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Karla:400,700");
@import url(//db.onlinewebfonts.com/c/7218a2da5a03f622ca18085806382043?family=Pe-icon-7-stroke);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);


/*******************
    1.General
*******************/

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #0d3830, #176354);

}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
}

h2 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 30px;
}

h4 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h5, .h5 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

h6, .h6 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

h3 {
  line-height: 30px;
}

a {
  text-decoration: none !important;
  outline: none;
}

p {
  line-height: 1.6;
  font-size: 15px;
}


html {
  scroll-padding-top: 57px;
  /* height of sticky header */
}


/*******************
    2.Helper
*******************/

.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-sm {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.btn {
  font-family: "Karla", sans-serif;
}

.btn-custom {
  display: flex;
  border-radius: 7px;
  color: #ffffff !important;
  background-color: #f28153;
  border: 1px solid #F28153;
}

.btn-sign-up{
  width: 250px;
  height: 45px;
}

a.btn-sign-text{
  color: #FFFFFF;
  font-size: 18px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
  background-color: #F9C0A9;
}

.small-title {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.subtitle{
  color: #FDE5B4;
}

.quote{
  color: #FFCBA5
}

.sign-up{
  background-color: #76908C;
  border-radius: 10px;
}

.descriptions{
  color: #7036b4;
}

/**BACK TO TOP**/
.back-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  text-align: center;
  z-index: 10000;
  border-radius: 3px;
  transition: all 0.5s;
}

.back-to-top i {
  color: #ffffff;
  font-size: 22px;
  display: block;
  line-height: 30px;
}

/******************
    3.Navbar
*******************/
.column.top{
  width: unset;
}

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  /*border-radius: 0px;*/
  /*z-index: 999;*/
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.navbar-custom .logo .logo-light {
  display: inline-block;
}

.navbar-nav {

}

.logo-text {
  display: inline-block;
  color: white;
  font-size: 47px;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 2px 4px #2ab59a;
}

.noAction{
  background-color: #92ACA8;
  border-color: #F28153;
  width: 115px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
}

button.nav-buttons{
  background-color: transparent;
  box-shadow: unset;
  border: unset;
}


.navbar-custom .navbar-nav .nav-item .nav-link {
  line-height: 26px;
  color: rgb(255, 255, 255);
  transition: all 0.4s;
  padding: 6px 10px;
  margin: 0 20px;
  font-family: "Karla", sans-serif;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover, .navbar-custom .navbar-nav .nav-item .nav-link.active, .navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #F28153;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem #3a59af;
}

/*--- navbar sticky ---*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 10px 0px;
  background-color: #ffffff;
  box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
}

.nav-sticky.navbar-custom .logo .logo-dark {
  display: inline-block;
}

.nav-sticky.navbar-custom .logo .logo-light {
  display: none;
}

.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover, .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link.active, .nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: #FFCBA5;
}

.homepage .navbar .homelinks{
  margin-right: 36px;
}
/*******************
  4.Search on Nav
*******************/

li#wrap {
  margin: -60px 75px;
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  font-size: 15px;
}

input#search[type="text"] {
  height: 60px;
  font-size: 55px;
  color: #F28153;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  border: none;
  outline: none;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

input#search[type="text"]:focus:hover {
  border-bottom: 1px solid #F28153;
}

input#search[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #F28153;
  cursor: text;
}
input#search_submit[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: #F28153;
  float: right;
  background: url(./images/search.png);
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;
}

input#search_submit[type="submit"]:hover {
  opacity: 0.8;
}


/*******************
    5.Home
*******************/

.bg-home {
  position: relative;
  padding: 185px 0px 240px;
}

.row .sign-up {
  padding: 20px 10px;
}

.discover{
  color: rgba(253, 229, 180, 0.7);
}

.home-img{
  height: 430px;
  width: 670px;
}
.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-title .play-icon-circle {
  background: #ffffff;
  height: 80px;
  width: 80px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  color: red;
}

.infographic{
  max-height: 560px;
}


/*******************
    6.About Us
*******************/

.about-box {
  background-color: rgb(118, 156, 105);
  border-radius: 10px;
}

.about-box h5 {
  font-size: 18px;
}

.about-box .about-img img {
  max-height: 50px;
  max-width: 50px;
}


/*******************
    7.Reviews
*******************/

.testers-box {
  position: relative;
  box-shadow: 0 7px 15px 0 rgb(42, 181, 154);
  border-radius: 7px;
}


.testers-box .testers-img img {
  max-width: 64px;
}

.testers-box .testers-icon i {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f4f4f4;
}


/*******************
    8.Contact
********************/

.custom-form .form-group {
  margin-bottom: 1.5rem;
}

.custom-form .form-group .form-control {
  height: 43px;
  font-size: 14px;
  border-color: #0d3830;
  background-color: #0d3830;
}

.custom-form .form-group .form-control:focus {
  box-shadow: none;
}

.custom-form .form-group textarea.form-control {
  height: auto;
}

.form-label{
  color: #FFFFFF;
}

.error {
  margin: 8px 0px;
  display: none;
  color: #ff5d48;
}


.error_message {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #ff5d48;
  background-color: #ffdbd7;
  border-color: #ffdbd7;
  border-radius: 5px;
  font-size: 14px;
}


/*******************
    9.footer
********************/

.footer {
  padding: 40px 0px 20px 0px;
  background-color: #101d1b;
  max-width: 100%;
  margin: unset;
}

.footer .footer-list li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 0px 7px;
  transition: all 0.4s;
}

.footer .footer-list li a:hover {
  color: #ffffff;
}


.footer .social-links li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s;
}

.footer .social-links li a:hover {
  color: #ffffff;
  border-color: #ffffff;
}


/******************
   10.Create User
*******************/

.container.create{
  margin-top: 150px;
}

.row.create{
  margin-top: 150px;
}


/******************
    11.Carousel
*******************/




/******************
   12.Login Page
*******************/

.login-form{
  max-width: 400px;
  max-height: 400px;
}


/******************
  13.Edit Profile
*******************/

.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}
.panel-title {
  font-size: 17px;
}
.panel-title > small {
  font-size: .75em;
  color: #999999;
}
.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.form-horizontal, .form-group {
  max-width: 500px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
  }
}


.profile-avatar {
  width: 300px;
  position: relative;
  border: 4px solid #f3f3f3;
  border-radius: 999px;
}

input::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border-radius: 7px;
  color: #ffffff !important;
  background-color: #f28153;
  border: 1px solid #F28153;
}

input[type="file"]::file-selector-button:hover {
  background-color: #F9C0A9;
  transition: 1s;
}

input[type='file'] {
  color: rgb(255, 203, 165);

}

div .delete-profile, .pe-7s-delete-user{
  color: #F28153;
  height: 500px;
  width: 500px;
}

.row .subtitle{
}


/******************
  14.Profile
*******************/

.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

/***********************
  15.Plant Search View
************************/

.plant-query{
  color: rgba(233, 205, 55, 0.8);
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.search-column{
  max-width: 1200px;
}

ul.carrot {
  flex-direction: column;
  flex-wrap: wrap;
  padding: unset;
  margin: unset;
}

img.plantSearchImg{
  height: 400px;
  width: 400px;
  border-radius: 999px;
  border: 5px solid #FFFFFF;
}

p.plant-name{
  width: 343px;
  height: 60px;
  font-size: 34px;
  color: rgba(253, 229, 180, 0.8);
}

li.plant-box{
  position: relative;
  box-shadow: 0 7px 15px 0 rgb(42, 181, 154);
  border-radius: 10px;
  max-width: 1100px;
  padding-right: unset;
}


p.plant-info, a.plant-info{
  display: flex;
  height: 100px;
  width: 343px;
  flex-wrap: wrap;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

a.plant-info{
  color: #F28153;
}

a.search-add{
  background-color: #F28153;
  color: #FFFFFF;
  font-size: 18px;
  width: 250px;
  height: 45px;
  border-radius: 10px;
  padding: 10px;
}














/*KEEP THIS LAST ON HERE PLEASE*/
/******************
    .Responsive
*******************/

@media (min-width: 200px) and (max-width: 1199px) {
  .container-fluid {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 85%;
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    max-width: 70%;
  }
}


.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  /* border-radius: 0px; */
  /* z-index: 999; */
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  /* border-radius: 0px; */
  /* z-index: 999; */
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 992px) {

  .column .search {
    justify-content: end;
  }
}

@media (max-width: 991px) {

  .features {
    bottom: 74px;
  }
  .features-icon {
    float: none !important;
    text-align: center;
  }
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
  }
  .navbar-custom .logo .logo-dark {
    display: inline-block;
  }
  .navbar-custom .logo .logo-light {
    display: none;
  }

  /*.navbar-custom .logo img {*/
  /*  height: 18px;*/
  /*}*/

  .navbar-custom .navbar-nav .nav-item .nav-link {
    transition: all 0.4s;
    color: rgba(40, 40, 46, 0.8) !important;
    margin: 0px;
    padding: 6px 0px;
  }
  .navbar-custom .navbar-nav .nav-item.active .nav-link {
    background: linear-gradient(to right, #0d3830, #176354);
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
  }
  .footer-logo, .footer-desc, .footer-list {
    text-align: center;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .bg-home {
    padding: 130px 0px;
  }
  .home-title h2 {
    font-size: 24px;
  }
  .mo-mb-20 {
    margin-bottom: 20px !important;
  }
  .mo-mt-20 {
    margin-top: 20px !important;
  }
}

@media (max-width: 425px) {
  .features-tab .nav-item .nav-link {
    padding: 14px;
  }
  .cta {
    padding: 24px !important;
  }
}

/*# sourceMappingURL=style.css.map */
