<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('BotaniBuddy Home')"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58" class="scrollspy-example homepage">
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<!-- about BotaniBuddy start -->
<section class="botanibuddy" style="padding: 185px 0 240px;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/binosyellow.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">BotaniBuddy</h5>
                        <p class="descriptions"> Welcome to BotaniBuddy, where we believe in the transformative power of plants. We are an innovative platform dedicated to providing plant enthusiasts and nature lovers with an unrivaled experience in exploring and accessing information on thousands of plant species. With BotaniBuddy by your side, embark on a journey of discovery, connection, and growth in the captivating world of plants.</p>
                        <p class="descriptions">At BotaniBuddy, we understand the profound impact that plants have on our lives. Whether you're an experienced gardener, a curious beginner, or simply someone who appreciates the beauty of nature, our mission is to empower you with knowledge and resources to foster a deeper understanding of the botanical realm.</p>
                        <p class="descriptions">Our platform serves as your gateway to an extensive collection of plant species, all just a click away. Dive into our vast database, which boasts thousands of plants meticulously curated by experts from around the globe. With BotaniBuddy, your exploration knows no bounds. From vibrant tropical blooms to majestic towering trees, from delicate ferns to resilient succulents, we have it all.</p>
                        <p class="descriptions">We understand that the journey of plant discovery should be seamless and enjoyable. That's why we have designed our platform to be user-friendly, allowing you to navigate effortlessly through a wealth of plant information. Discover fascinating details about each plant's characteristics, growth habits, habitat preferences, and more. Unearth insights into their historical and cultural significance, unlocking the stories that make them truly remarkable.</p>
                        <p class="descriptions">But BotaniBuddy is more than just an encyclopedia of plants. It's a community that connects individuals who share a common passion for flora. Engage with fellow plant enthusiasts, exchange ideas, and gain inspiration from one another. Our vibrant forums and interactive features foster a sense of belonging, encouraging collaboration and growth in your botanical pursuits.</p>
                        <p class="descriptions">We believe that by fostering a deeper connection with nature, we can make a positive impact on our planet. With BotaniBuddy, you'll find resources and guidance to help you create sustainable and thriving green spaces. From tips on eco-friendly gardening practices to innovative conservation initiatives, we strive to empower you to become a steward of the natural world.
                        </p>
                        <p class="descriptions">So, whether you're seeking to transform your backyard into a lush oasis, identify a mystery plant you stumbled upon, or simply enrich your knowledge of the plant kingdom, BotaniBuddy is here to guide you every step of the way. Let us be your trusted companion, nurturing your passion for plants and unlocking the boundless wonders that await.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- about BotaniBuddy end -->

<!-- Cynthia start -->
<section class="section" id="cynthia-about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/devs/cynthia_linkedIn.jpeg" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Cynthia end -->

<!-- Gabby start -->
<section class="section" id="gabby-about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/devs/gabby_linkedIn.jpeg" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Gabby end -->

<!-- Quintyn start -->
<section class="section" id="quin-about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/devs/quintyn_linkedIn.jpeg" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Quintyn end -->

<!-- Sara start -->
<section class="section" id="sara-about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/devs/sara_linkedIn.jpeg" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Sara end -->

<!-- Zion start -->
<section class="section" id="zion-about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/devs/zion_linkedIn.jpeg" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Zion end -->

<!-- footer start -->
<footer th:replace="partials/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>