<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('BotaniBuddy Home')"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58" class="scrollspy-example homepage">
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<!-- about BotaniBuddy start -->
<section class="botanibuddy" style="padding: 185px 0 240px;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/binosyellow.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">BotaniBuddy</h5>
                        <p class="descriptions"> Welcome to BotaniBuddy, where we believe in the transformative power of plants. We are an innovative platform dedicated to providing plant enthusiasts and nature lovers with an unrivaled experience in exploring and accessing information on thousands of plant species. With BotaniBuddy by your side, embark on a journey of discovery, connection, and growth in the captivating world of plants.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- about BotaniBuddy end -->

<!-- Cynthia start -->
<section class="section" id="cynthia-about">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box justify-content-between mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/css/images/devs/cynthia_linkedIn.jpeg" height="150" width="150"
                                     class="card-image-top" style="border-radius: 5px;" alt="cynthia-nelson">
                            </div>
                            <div class="col d-flex align-items-end">
                                <h5 class="card-title" style="text-align: center; margin-bottom: 3px;">
                                    Cynthia Nelson • UX/UI DESIGN
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Meet Cynthia Nelson, our talented UI/UX expert, who plays a pivotal role in shaping the user experience of BotaniBuddy. With her keen eye for aesthetics and deep understanding of user behavior, Cynthia ensures that our platform is not only visually appealing but also intuitive and user-friendly.</p>
                                    <p class="card-text">Cynthia brings her passion for design and human-centered approach to every aspect of BotaniBuddy's interface. She meticulously crafts the layout, typography and color schemes, creating an immersive and engaging digital environment for plant enthusiasts. Through her thoughtful design choices, Cynthia enables users to seamlessly navigate through the vast collection of plant species, making their exploration effortless and enjoyable.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.linkedin.com/in/cynthia-v-nelson/" class="btn btn-primary"
                                       style="margin-top: 25px;">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Cynthia end -->

<!-- Gabby start -->
<section class="section" id="gabby-about">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box justify-content-between mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/css/images/devs/gabby_linkedIn.jpeg" height="150" width="150"
                                     class="card-image-top" style="border-radius: 5px;" alt="cynthia-nelson">
                            </div>
                            <div class="col d-flex align-items-end">
                                <h5 class="card-title" style="text-align: center; margin-bottom: 3px;">
                                    Gabriella Martinez • UX & Deployment
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Introducing Gabriella Martinez, our skilled UX and Deployment specialist, who brings a wealth of expertise to the BotaniBuddy team. Gabriella is the driving force behind ensuring a smooth and seamless experience for our users from the moment they access our platform.</p>
                                    <p class="card-text">With her extensive knowledge of user experience principles, Gabriella focuses on optimizing the interactions between users and the BotaniBuddy platform. She conducts thorough usability tests and gathers valuable feedback, working diligently to enhance the platform's functionality and responsiveness. Additionally, Gabriella oversees the deployment process, ensuring that the platform is accessible and reliable for plant enthusiasts around the world.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.linkedin.com/in/gabriella-marie-martinez/" class="btn btn-primary" style="margin-top: 25px;">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Gabby end -->

<!-- Quintyn start -->
<section class="section" id="quin-about">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box justify-content-between mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/css/images/devs/quintyn_linkedIn.jpeg" height="150" width="150"
                                     class="card-image-top" style="border-radius: 5px;" alt="cynthia-nelson">
                            </div>
                            <div class="col d-flex align-items-end">
                                <h5 class="card-title" style="text-align: center; margin-bottom: 3px;">
                                    Quintyn Williams • Backend & Database
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Say hello to Quintyn Williams, our brilliant Backend Logic & Database Design expert, who plays a vital role in the development of BotaniBuddy's robust infrastructure. With a passion for logic and problem-solving, Quintyn ensures that the platform's backend operates seamlessly, allowing users to access information on thousands of plant species effortlessly.</p>
                                    <p class="card-text">Quintyn's expertise lies in designing efficient database structures that enable quick and accurate retrieval of plant data. His meticulous attention to detail ensures the reliability and security of our platform's database. With his exceptional coding skills, Quintyn implements complex algorithms and logical systems that power the core functionalities of BotaniBuddy, creating a seamless experience for plant enthusiasts.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.linkedin.com/in/quintyn-williams-17a582107/" class="btn btn-primary" style="margin-top: 25px;">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Quintyn end -->

<!-- Sarah start -->
<section class="section" id="sara-about">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box justify-content-between mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/css/images/devs/sara_linkedIn.jpeg" height="150" width="150"
                                     class="card-image-top" style="border-radius: 5px;" alt="cynthia-nelson">
                            </div>
                            <div class="col d-flex align-items-end">
                                <h5 class="card-title" style="text-align: center; margin-bottom: 3px;">
                                    Sarah Brightman • Security & UX
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Meet Sarah Brightman, our talented Security & UX specialist, who brings a unique blend of expertise to the BotaniBuddy team. With a deep understanding of both security practices and user experience, Sarah ensures that our platform is not only user-friendly but also safeguarded against potential threats.</p>
                                    <p class="card-text">Sarah meticulously assesses and fortifies the platform's security infrastructure, implementing robust measures to protect user data and privacy. Her expertise extends to ensuring compliance with industry standards and regulations, providing a secure environment for plant enthusiasts to explore and engage with our platform. Additionally, Sarah collaborates with the UI/UX team, leveraging her understanding of user behavior to enhance the overall user experience and maintain a seamless and safe interaction with BotaniBuddy.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.linkedin.com/in/sarah-brightman/" class="btn btn-primary" style="margin-top: 25px;">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Sara end -->

<!-- Zion start -->
<section class="section" id="zion-about">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box justify-content-between mt-4">
                    <div class="card">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/css/images/devs/zion_linkedIn.jpeg" height="150" width="150"
                                     class="card-image-top" style="border-radius: 5px;" alt="cynthia-nelson">
                            </div>
                            <div class="col d-flex align-items-end">
                                <h5 class="card-title" style="text-align: center; margin-bottom: 3px;">
                                    Zion Segovia • API/AI Integration
                                </h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text">Introducing Zion Segovia, our accomplished API/AI Integration expert, who brings cutting-edge technology to BotaniBuddy's development. Zion's expertise lies in integrating advanced AI capabilities and APIs seamlessly into our platform, unlocking new possibilities for plant enthusiasts.</p>
                                    <p class="card-text">With his deep understanding of artificial intelligence and data integration, Zion leverages APIs to access vast repositories of plant information, enabling users to delve into the depths of botanical knowledge. He ensures that the AI algorithms work harmoniously with the platform, providing accurate plant identifications and personalized recommendations. Zion's expertise empowers BotaniBuddy to deliver an intelligent and dynamic user experience, revolutionizing the way users explore and engage with plant species.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="https://www.linkedin.com/in/zion-segovia/" class="btn btn-primary" style="margin-top: 25px;">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- Zion end -->

<!-- footer start -->
<footer th:replace="partials/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>