<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/head :: head('Create User')"></head>

<body>
<!--Needed:
Date created_at, country, state, city,username, first_name, last_name, email, password-->

<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

    <div class="d-flex container create justify-content-center align-content-center">
        <div class="row">
            <div class="col">
                <h1 class="subtitle">Create Your Profile!</h1>
                <div class="custom-form">

        <!-- Create Form start -->
                    <form method="post" th:action="@{/users/create}" th:object="${user}">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="createdAt">Today's Date:</label>
                                <input type="text" id="createdAt" class="form-control" th:field="*{created_at}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username:</label>
                                <input type="text" id="username" class="form-control" th:field="*{username}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="firstName">First Name:</label>
                                <input type="text" id="firstName" class="form-control" th:field="*{first_name}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="lastName">Last Name:</label>
                                <input type="text" id="lastName" class="form-control" th:field="*{last_name}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="city">Current City:</label>
                                <input type="text" id="city" class="form-control" th:field="*{city}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email:</label>
                                <input type="email" id="email" class="form-control" th:field="*{email}" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label" for="password">Password:</label>
                                <input type="password" id="password" class="form-control" th:field="*{password}" required>
                            </div>
                        </div>
                        <div class="d-flex col-lg-12 text-end mb-5 justify-content-center align-items-center">
                            <button type="submit" class="submitBnt btn btn-custom">Create Profile</button>
                        </div>
                    </form>
        <!-- Create Form end -->

                </div>
            </div>
        </div>
    </div>

<!-- Footer Partial start-->
<footer th:replace="partials/footer :: footer"></footer>
<!-- Footer Partial end -->

</body>
</html>