<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('Edit Profile')"></head>


<body>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<div class="d-flex container create justify-content-center align-content-center">
  <div class="row subtitle">
    <div class="col subtitle text-center">
      <h1 class="subtitle mb-4">PROFILE DELETED!</h1>
      <h4>Sorry to see you go... bye.</h4>
      <div class="d-flex col">
        <a type="submit" th:href="@{/}">Go Back to the Home Page</a>
        <input type="hidden" name="id" th:attr="value=${user.id}"/>
      </div>
      </div>
    </div>
  </div>
</div>



<script th:src="@{/css/js/staticElements.js}"></script>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>