<!DOCTYPE html>

<html  lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!--<head th:insert="partials/head :: head('Edit Profile')"></head>-->
<head>
  <meta charset="utf-8" />

  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.0.39/css/materialdesignicons.min.css" integrity="sha512-1gUlHrTUP7SJE3KF6kFAPLdDtfkPr8Yy53pU1fKZhtFH2CoF/sMJBBze2NsZB9MW256Xdpl2cZaPSFJ+XpSLfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="//db.onlinewebfonts.com/c/7218a2da5a03f622ca18085806382043?family=Pe-icon-7-stroke" rel="stylesheet" type="text/css"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">

  <!-- App favicon -->
  <link rel="shortcut icon" href="/css/images/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

  <!--Material Icon -->
  <link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css" />

  <!--pe-7 Icon -->
  <link rel="stylesheet" type="text/css" href="/css/pe-icon-7-stroke.css" />

  <!-- Custom  sCss -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/head :: head('Edit Profile')"></head>


<body>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<div class="d-flex container create justify-content-center align-content-center">
  <div class="row subtitle">
    <div class="col subtitle text-center">
      <h1 class="subtitle mb-4">PROFILE DELETED!</h1>
      <h4>Sorry to see you go... bye.</h4>
    </div>
  </div>
  <div class="container bootstrap snippets bootdeys">
    <div class="row">
      <div class="d-flex col justify-content-center">
        <form class="form-horizontal flex-grow-1"
              th:action="@{/users/{id}/edit(id=${user.id})}"
              th:object="${user}" th:method="post"
              enctype="multipart/form-data"
        >
          <div class="panel ">
            <div class="panel-body text-center">
              <img class="img-circle profile-avatar" id="profile-img" src="" alt="User avatar">
              <input type="file" name="image" accept="image/*" />
            </div>
          </div>
          <div class="d-block panel ">
            <div class="subtitle">
              <h4 class="panel-title subtitle">User info</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="d-flex col control-label quote">Username <span th:text="${user.username}"></span> </label>
                <div class="col">
                  <input type="text" class="form-control" th:field="*{username}">
                </div>
              </div>
              <div class="form-group">
                <label class="col control-label quote">First Name</label>
                <div class="col">
                  <input type="text" class="form-control" th:field="*{first_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col control-label quote">Last Name</label>
                <div class="col">
                  <input type="text" class="form-control" th:field="*{last_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col control-label quote" for="city">Current City</label>
                <div class="col">
                  <input type="text" id="city" class="form-control" th:field="*{city}" required>
                </div>
              </div>
            </div>
          </div>

          <div class="panel ">
            <div class="subtitle">
              <h4 class="panel-title subtitle">Contact info</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col control-label quote">E-mail address</label>
                <div class="col">
                  <input type="email" class="form-control" th:field="*{email}">
                </div>
              </div>
            </div>
          </div>

          <!--              <div class="panel ">-->
          <!--                <div class="subtitle">-->
          <!--                  <h4 class="panel-title subtitle">Security</h4>-->
          <!--                </div>-->
          <!--                <div class="panel-body">-->
          <!--                  <div class="form-group">-->
          <!--                    <label class="col control-label quote">Current password</label>-->
          <!--                    <div class="col">-->
          <!--                      <input type="password" class="form-control" th:field="*{password}">-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="form-group">-->
          <!--                    <label class="col control-label quote">New password</label>-->
          <!--                    <div class="col">-->
          <!--                      <input type="password" class="form-control" th:field="*{password}">-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="form-group">-->
          <div class="d-flex col">
            <input type="hidden" name="id" th:attr="value=${user.id}" />
            <button type="submit" class="btn btn-custom" value="save">Save</button>
            <button type="reset" class="btn nav-link">Cancel</button>
          </div>
          <!--                    <div class="col font-16 delete-profile pe-7s-delete-user mt-3">    Delete Profile</div>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
        </form>
      </div>
    </div>
  </div>
</div>



<script th:src="@{/css/js/staticElements.js}"></script>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>