<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/head :: head('Edit Plant')"></head>


<body>
<h1>Edit</h1>

    <div class="row">
        <form method="post" th:if="${gardenPlant}" th:action="@{/plants/plantEdit/{id}(id=${gardenPlant.id})}">
            <input type="text" th:placeholder="${plant.name}" name="name">
            <label for="sun_amount">Sun Amount</label>
            <select name="sun_amount" id="sun_amount">
                <option value="FULL_SUN">Full Sun</option>
                <option value="PARTIAL_SUN">Partial Sun</option>
                <option value="FULL_SHADE">Shaded</option>
            </select>

            <label for="water_interval">Water Interval</label>
            <input type="number" id="water_interval" th:placeholder="${gardenPlant.water_interval}" name="water_interval" min="1" max="30">
            <label>Is this plant Outside</label>
            <label for="yes">Yes
                <input name="is_outside" id="yes" type="radio" value="true">
            </label>
            <label for="no">No
                <input name="is_outside" id="no" type="radio" value="false">
            </label>

            <button class="ui button">Save</button>
        </form>
    </div>

</body>
</html>