<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/head :: head('Edit Profile')"></head>

<body>

    <div class="col-lg-8">
        <div class="custom-form">
            <form th:action="@{/users/{id}/edit}" method="post" th:object="${user}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                          <label>Username: <input type="text" th:field="*{username}" /></label><br />
                          <label>First Name: <input type="text" th:field="*{first_name}" /></label><br />
                          <label>Last Name: <input type="text" th:field="*{last_name}" /></label><br />
                          <label>City: <input type="text" th:field="*{city}" /></label><br />
                          <label>Email: <input type="email" th:field="*{email}" /></label><br />
                          <input type="hidden" name="id" th:attr="value=${user.id}" />
                          <button type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>