 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('BotaniBuddy Home')"></head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="58" class="scrollspy-example homepage">
<!-- loader-->
<div id="loader" class="loading"> </div>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->
<!-- home start -->
<section class="bg-home" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row align-content-center justify-content-center">
                    <div class="d-flex col-sm-5 sign-up align-items-center justify-content-center">
                        <div class="home-title text-center">
                            <h5 class="mb-5 discover">Discover</h5>
                            <h2 class="mt-2 mb-5 text-white">BotaniBuddy</h2>
git                             <p class="subtitle home-desc font-16 mb-5">Our guidance empowers you to cultivate your first green companions or nurture an exquisite garden oasis.</p>

                            <div  class="d-flex justify-content-center mt-5" sec:authorize="isAuthenticated()">

                                    <form class="btn-custom btn-sign-up justify-content-center align-items-center" th:action="@{/logout}" th:method="post">
                                        <button style="border: unset; background: unset" class="btn-sign-text text-center signup text-white" >Logout</button>
                                    </form>

                            </div>
                            <div  class="d-flex justify-content-center mt-5" sec:authorize="!isAuthenticated()">

                                    <form class="btn-custom btn-sign-up justify-content-center align-items-center" th:action="@{/users/create}" >
                                        <button style="border: unset; background: unset" class="btn-sign-text text-center signup text-white" >SIGN UP!</button>
                                    </form>

                            </div>
                        </div>
                    </div>
<!-- start carousel -->
<div class="d-flex col-sm-6 ps-5 align-items-center justify-content-center">
    <img class="infographic" src="/css/images/PlantInfographicV2.png" alt="Plant Story">
</div>
<!-- end carousel -->
                </div>
<!-- end row -->
            </div>
<!-- end container-fluid -->
        </div>
    </div>
</section>
<!-- home end -->
<!-- About Us start -->
<section class="section" id="about">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center">
                    <h6 class="about small-title">About Us</h6>
                    <h4 class="subtitle">What we do</h4>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/binosyellow.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Search THOUSANDS of Plants</h5>
                        <p  class="descriptions">BotaniBuddy offers users a comprehensive platform to effortlessly explore and access information on thousands of plant species, their details, and care guides.</p>
                    </div>
                </div>
            </div>
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/wateringcan.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Water Managment</h5>
                        <p class="descriptions">With personalized plant profiles, BotaniBuddy effectively tracks and provides tailored watering schedules, ensuring optimal care for each individual plant.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center">
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/sunny.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Growth Conditions</h5>
                        <p class="descriptions">By providing expert guidance on optimal lighting, soil, potting, and other essential conditions, BotaniBuddy ensures plants thrive and reach their full growth potential.</p>
                    </div>
                </div>
            </div>
            <div class="col-l-6 col-sm-6">
                <div class="about-box p-4 mt-4">
                    <div class="about-img float-start me-4">
                        <img src="/css/images/icons/journal.png" alt="">
                    </div>
                    <div class="overflow-hidden">
                        <h5 class="text-white">Journal</h5>
                        <p class="descriptions">BotaniBuddy creates a nurturing community and fosters plant health by offering a Garden Journal for users to share experiences, & document the growth of their plants.</p>
                    </div>
                </div>
            </div>
        </div>
<!-- end row -->
    </div>
<!-- end container-fluid -->
</section>
<!-- About Us end -->

<!-- reviews start -->
<section class="section" id="reviews">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <h6 class="small-title">Reviews</h6>
                    <h4 class="subtitle">What our Users Say</h4>
                    <p class="quote">From the roots of the ancient tree of life, countless branches sprout, each leading to a distinct journey.</p>
                </div>
            </div>
        </div>
<!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="testers-box p-4 bg-white mt-4 text-center">
                    <p class="text-muted mb-4">" With BotaniBuddy I have been able to provide a level of care for my plants that I did not know was possible! No more parsing through tons of websites or books with conflicting tips, or feeling terrible because I lost a plant. BotaniBuddy's watering notifications, day-to-day journaling feature, and it's wonderful community are invaluable to me and I could not be happier! 5 stars! "</p>
                    <div class="testers-img mb-4">
                        <img src="/css/images/testers/img-1.jpg" alt="Drake's Profile photo" class="rounded-circle img-thumbnail">
                    </div>
                    <p class="text-muted mb-1"> - Drake Jacquez</p>
                    <h5 class="font-18">ManDr@k3</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testers-box p-4 bg-white mt-4 text-center">
                    <p class="text-muted mb-4">" My tomatoes kept dying and I could not figure out why! Using the advice from BotaniBuddy, I was able to recover a few of them and they even bore some fruit! "</p>
                    <div class="testers-img mb-4">
                        <img src="/css/images/testers/img-2.png" alt="Brendan's Profile photo" class="rounded-circle img-thumbnail">
                    </div>
                    <p class="text-muted mb-1"> - Brendan Thomas</p>
                    <h5 class="font-18">BTomat!ll0</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testers-box p-4 bg-white mt-4 text-center">
                    <p class="text-muted mb-4">" Thanks to BotaniBuddy, my garden has blossomed into a fruitful paradise! It's an absolute joy to watch my plants thrive and produce an abundance of fruits and vegetables. With helpful tips, reminders, and a supportive community, this app has transformed me into a green-thumbed gardener. I'm now sharing my bountiful harvest with grateful neighbors. Highly recommended! "</p>
                    <div class="testers-img mb-4">
                        <img src="/css/images/testers/img-3.jpg" alt="Hazel's Profile photo" class="rounded-circle img-thumbnail">
                    </div>
                    <p class="text-muted mb-1"> - Hazel Gutierrez-Diaz</p>
                    <h5 class="font-18">W!tchyHaz3l</h5>
                </div>
            </div>
        </div>
<!-- end row -->
        <div class="row mt-5 pt-5">
            <div class="col-lg-3 col-sm-6">
                <div class="reviews-images">
                    <img src="/css/images/reviews/1.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="reviews-images">
                    <img src="/css/images/reviews/3.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="reviews-images codeup">
                    <img src="/css/images/reviews/codeupgray.png" alt="logo-img" class="codeup mx-auto img-fluid d-block">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="reviews-images">
                    <img src="/css/images/reviews/4.png" alt="logo-img" class="mx-auto img-fluid d-block">
                </div>
            </div>
        </div>
<!-- end row -->
    </div>
<!-- end container-fluid -->
</section>
<!-- reviews end -->

<!-- contact start -->
<section class="section" id="contact">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-5">
                    <h6 class="small-title">Contact</h6>
                    <h4 class="subtitle">Have any Questions ?</h4>
                    <p class="quote">Ask us a question or provide feedback.</p>
                </div>
            </div>
        </div>
<!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="get-in-touch">
                    <h5 class="subtitle">Get in touch</h5>
                    <p class="quote mb-5">Ways to contact us :</p>
                    <div class="mb-3">
                        <div class="get-touch-icon float-start me-3">
                            <h2>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope text-white" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                            </h2>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="subtitle font-16 mb-0">E-mail</h5>
                            <p class="quote">botanibuddy@gmail.com</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="get-touch-icon float-start me-3">
                            <h2>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-phone text-white" viewBox="0 0 16 16">
                                    <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                </svg>
                            </h2>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="subtitle font-16 mb-0">Phone</h5>
                            <p class="quote">(210) 111-1111</p>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="get-touch-icon float-start me-3">
                            <h2>
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-geo-alt text-white" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                            </h2>
                        </div>
                        <div class="overflow-hidden">
                            <h5 class="subtitle font-16 mb-0">Address</h5>
                            <p class="quote">420 Rolling Rd San Antonio, TX 78xxx</p>
                        </div>
                    </div>
                </div>
            </div>
<!-- Start Contact Form -->
            <div class="col-lg-8">
                <div class="custom-form">
                    <span id="error-msg"></span>
                    <form method="post" name="myForm" onsubmit="return validateForm()">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name...">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email...">
                                </div>
                            </div>
                        </div>
<!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="subject" class="form-label">Subject</label>
                                    <input name="subject" id="subject" type="text" class="form-control" placeholder="Enter Subject...">
                                </div>
                            </div>
                        </div>
<!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="comments" class="form-label">Message</label>
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Enter your message..."></textarea>
                                </div>
                            </div>
                        </div>
<!-- end row -->
                        <div class="row">
                            <div class="col-lg-12 text-end">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message" />
                            </div>
                        </div>
<!-- end row -->
                    </form>
                </div>
            </div>
<!-- End Contact form -->
        </div>
<!-- end row -->
    </div>
<!-- end container-fluid -->
</section>
<!-- contact end -->

<!-- footer start -->
<footer th:replace="partials/footer :: footer"></footer>
<!-- footer end -->
<script>

    window.addEventListener('load',()=>{
        const loader = document.querySelector('.loading');
        loader.classList.add('loading-hidden');
        loader.addEventListener('transitioned', ()=>{
            document.body.removeChild("loading");
        });
    });
</script>
// <!--<script type="module" src="/static/css/js/loader.js"></script>-->

</body>
</html>