<!DOCTYPE html>
<html lang="en">

    <head th:insert="partials/head :: head('BotaniBuddy Home')"></head>

<body>
<!--User Info-->
    <div>
        <h1 th:text="${user.getUsername()} + '\'s Profile'"></h1>
        <p th:text="'Date Created: ' + ${user.getCreated_at()}"></p>
        <p th:text="'First Name: ' + ${user.getFirst_name()}"></p>
        <p th:text="'Last Name: ' + ${user.getLast_name()}"></p>
        <p th:text="'City: ' + ${user.getCity()}"></p>
        <p th:text="'Email: ' + ${user.getEmail()}"></p>
    </div>
    <div>
        <a th:href="@{/users/{id}/edit}">
            <h3>Edit Your Profile</h3>
        </a>
    </div>

<!--Weather Banner-->
    <div>
        <h3>Weather Banner</h3>
        <div th:if="${weather}">
            <p th:text="${weather.getTempAvg()}"></p>
            <p th:text="${weather.getHumidity()}"></p>
            <p th:text="${weather.getSunrise()}"></p>
            <p th:text="${weather.getSunset()}"></p>
            <p th:text="${weather.getCloudiness()}"></p>
            <p th:text="${weather.getCloudDesc()}"></p>
            <p th:text="${weather.getWindSpeed()}"></p>
        </div>
    </div>

<!--Outdoor Plant Warning-->
    <div th:if="${outdoorPlants}">
        <h3>Outdoor Plant Warning</h3>
        <div class="row justify-content-between">
            <div class="column" th:each="plant : ${outdoorPlants}">
                <p> Plant Name: <span th:text="${plant.plant.name}"></span></p>
                <p> Req'd Sun Amount: <span  th:text="${plant.sun_amount}"></span></p>
                <p> Water Every <span th:text="${plant.water_interval}"></span> Day(s)</p>
                <p> BotaniBuddy SunTip: <span  th:text="${plant.getSun_tip}"></span></p>
                <p> BotaniBuddy WaterTip: <span  th:text="${plant.getWater_tip}"></span></p>
            </div>
        </div>
    </div>

<!--Garden Preview-->
    <div>
        <h3>Garden Preview</h3>
        <div class="column" th:each="plant : ${userPlants}">
            <p><span  th:text="${plant.plant.id}"></span></p>
            <p><span th:text="${plant.plant.name}"></span></p>
            <p><span  th:text="${plant.sun_amount}"></span></p>
            <p><span th:text="${plant.water_interval}"></span> Day(s)</p>
            <p><span  th:text="${plant.getSun_tip}"></span></p>
            <p><span  th:text="${plant.getWater_tip}"></span></p>
        </div>
    </div>

<!--Plant Log Preview-->
    <div>
        <h3>Plant Log Preview</h3>

    </div>
</body>
</html>