<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/head :: head('BotaniBuddy Plant Details')"></head>
<body>

<header th:replace="partials/navbar :: navbar"></header>

<div id="loader" class="loading">
    <div class="load-hold">
        <div class="load-wrap">
            <P class="long-load">Sorry for the wait Ai is thinking...</P>
            <p class="long-load">Here are some fun tips and tricks while you wait: </p>
        </div>
        <div class="tips">
            <div id="container"></div>
        </div>
    </div>
</div>
<div class="d-flex container-fluid create justify-content-center align-content-center">
    <div class="row justify-content-center">
        <div class="column search-column">
            <h1 class="text-white">Plant Details</h1>
            <!--------------Plant Details-------------->
            <div class="container-fluid view-one-box mb-5 p-3 g-0">
                <div class="d-flex col-12 justify-content-between mb-2">
                    <div class="d-flex col-5 p-2">
                        <img class="d-flex rounded img-thumbnail" th:src="${plant.image_url}" alt="Plant Photo">
                    </div>
                    <div class="d-flex col-7 container-fluid plant-info-holder g-0">
                        <div class="col-12">
                            <h3 class="text-white fw-bold text-center mb-4 px-2"
                                th:text="${plant.common_name}"></h3>
                            <div class="d-flex flex-wrap">

                                <div th:if="${plant.growth_habit}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Growth Habit:</span>
                                    <p class="" th:text="${plant.growth_habit}"></p>
                                </div>

                                <div class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Edible:</span>
                                    <p class="" th:text="${plant.edible ? 'Yes' : 'No'}"></p>
                                </div>

                                <div th:if="${plant.minimum_temperature}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Min Temperature:</span>
                                    <p class="" th:text="${plant.minimum_temperature + ' ˚F'}"></p>
                                </div>

                                <div th:if="${plant.maximum_temperature}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Max Temperature:</span>
                                    <p class="" th:text="${plant.maximum_temperature + ' ˚F'}"></p>
                                </div>

                                <div th:if="${plant.ph_minimum}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Minimum PH:</span>
                                    <p class="" th:text="${plant.ph_minimum}"></p>
                                </div>

                                <div th:if="${plant.ph_maximum}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Maximum PH:</span>
                                    <p class="" th:text="${plant.ph_maximum}"></p>
                                </div>

                                <div th:if="${plant.sun_requirements}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Sun Requirements:</span>
                                    <p class="" th:text="${plant.sun_requirements}"></p>
                                </div>

                                <div th:if="${plant.spread}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Spread:</span>
                                    <p class="" th:text="${plant.spread + ' cm'}"></p>
                                </div>

                                <div th:if="${plant.row_spacing}" class="px-2 text-white col-3 d-flex flex-column align-items-start">
                                    <span class="fw-bold">Row Spacing:</span>
                                    <p class="" th:text="${plant.row_spacing + ' cm'}"></p>
                                </div>

                                <div th:if="${plant.sowing_method}" class="px-2 text-white col-12 d-flex align-items-start gap-1">
                                    <span class="fw-bold col-3 p-0">Sowing Method:</span>
                                    <span class="" th:text="${plant.sowing_method}"></span>
                                </div>

                                <div th:if="${plant.description}" class="px-2 text-white col-12 d-flex align-items-start gap-1">
                                    <span class="fw-bold col-3 p-0">Description:</span>
                                    <span class="" th:text="${plant.description}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-white col-12 d-flex align-items-start gap-1 justify-content-between">
                    <div class="col-2 text-center">
                        <span class="fw-bold col-3 p-0">Care Guide:</span>
                    </div>
                    <div class="col-10">
                        <div id="AIWait" class="d-flex d-none justify-content-center">
                            <div class="spinner-border" role="status">
                                <span id="guideNote" class="sr-only">Loading...</span>
                            </div>
                            <span class="d-flex ms-2 align-items-center">Generating AI Response</span>
                        </div>
                        <span th:if="${careGuide}" th:text="${careGuide}"></span>
                        <span id="careGuide"></span>

                    </div>
<!--                    <button id="getNewGuide" class="align-self-end btn btn-success">New Guide</button>-->
                </div>
            </div>

            <!--------------AI DIAGNOSE-------------->
            <div class="col-12 p-3 view-one-box mb-5">
                <div class="d-flex col-12 p-0">
                    <h3 class="text-white">AI Diagnose</h3>
                </div>
<!--                <form class="m-3"  method="post" th:action="@{/plants/diagnose/{id}(id=${userGardenPlant.id})}">-->
                <div class="m-3">
                    <div class="d-flex">
                        <div id="diagnoseForm" class="col-8">
                            <div class="d-flex mb-2">
                                <label for="stemsDiagnose" class="form-label fw-bold col-3">Stems</label>
                                <select name="stems" id="stemsDiagnose" class="col-9">
                                    <option value="0">N/A</option>
                                    <option value="1">Discoloration (e.g., brown, black, yellowing)</option>
                                    <option value="2">Lesions or cankers</option>
                                    <option value="3">Soft or mushy areas</option>
                                    <option value="4">Swelling or galls</option>
                                    <option value="5">Splitting or cracking</option>
                                    <option value="6">Presence of pests or insects (e.g., holes, tunnels)</option>
                                </select>
                            </div>
                            <div class="d-flex mb-2">
                                <label for="leavesDiagnose" class="form-label fw-bold col-3">Leaves</label>
                                <select name="leaves" id="leavesDiagnose" class="col-9">
                                    <option value="0">N/A</option>
                                    <option value="1">Yellowing or chlorosis</option>
                                    <option value="2">Browning or necrosis</option>
                                    <option value="3">Wilting or drooping</option>
                                    <option value="4">Curling or distortion</option>
                                    <option value="5">Spots or lesions (e.g., brown, black, yellow, white)</option>
                                    <option value="6">Holes or chewed edges</option>
                                    <option value="7">Powdery or fuzzy growth</option>
                                    <option value="8">Sticky residue (honeydew) or sap</option>
                                    <option value="9">Presence of pests or insects (e.g., eggs, larvae, adult insects)</option>
                                    <option value="10">Abnormal growth (e.g., stunted, dwarfed)</option>
                                </select>

                            </div>
                            <div class="d-flex mb-2">
                                <label for="fruitsDiagnose" class="form-label fw-bold col-3">Fruits</label>
                                <select name="fruits" id="fruitsDiagnose" class="col-9">
                                    <option value="0">N/A</option>
                                    <option value="1">Discoloration (e.g., brown, black, yellowing)</option>
                                    <option value="2">Lesions or rotting spots</option>
                                    <option value="3">Wrinkling or shriveling</option>
                                    <option value="4">Deformed or misshapen</option>
                                    <option value="5">Stunted growth or smaller size than usual</option>
                                    <option value="6">Presence of pests or insects (e.g., entry holes, feeding damage)</option>
                                </select>
                            </div>
                        </div>
                        <div id="send" class="d-flex justify-content-end align-items-end col-4">
                            <button id="diagnoseAI" class="btn btn-primary">Send</button>
                        </div>

<!--                        LOADER-->
                        <div id="diagnoseWait" class="d-flex d-none justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <span class="d-flex ms-2 align-items-center">AI Diagnosing</span>
                        </div>

<!--                     DIAGNOSE RESPONSE-->
                        <div id="diagnoseResp" class="d-flex d-none col-12">
                            <div class="card p-3">
                                <div class="d-flex align-items-center mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z"></path>
                                        <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"></path>
                                    </svg>
                                    <h4 class="ps-2">AI Diagnosis</h4>
                                </div>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="px-2 col-4 d-flex align-items-start gap-1">
                                        <span class="fw-bold">Leaf:</span>
                                        <span id="getLeaveADJ"></span>
                                    </div>
                                    <div class="px-2 col-4 d-flex align-items-start gap-1">
                                        <span class="fw-bold">Stem:</span>
                                        <span id="getStemADJ"></span>
                                    </div>
                                    <div class="px-2 col-4 d-flex align-items-start gap-1">
                                        <span class="fw-bold">Fruit:</span>
                                        <span id="getFruitADJ"></span>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <p id="chatResponse"></p>
                                </div>

                                <div id="diagnoseNext" class="d-flex d-none px-4 justify-content-end">
                                    <form method="post" th:action="@{/plants/comment/{id}(id=${userGardenPlant.id})}">
                                        <input id="saveTitle" type="hidden" name="title" />
                                        <input id="saveResponse" type="hidden" name="content" />

                                        <button class="btn btn-success">Save Log</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                </form>-->
            </div>

            <!--------------EDIT PLANT-------------->
            <div class="d-flex justify-content-center mb-5">
                <div class="col-12 p-3 view-one-box">
                    <div class="d-flex col-12 p-0">
                        <h3 class="text-white">Edit Plant</h3>
                    </div>
                    <form class="m-3" method="post" th:action="@{/plants/plantEdit/{id}(id=${userGardenPlant.id})}">
                        <div class="d-flex justify-space-between gap-4">
                            <div class="d-flex col flex-wrap p-0 gap-2">
                                <div class="col-12 p-0">
                                    <label class="form-label" for="name">Name Your Plant?</label>
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Only if you wanna :)">
                                    <input type="hidden" name="CommonName" th:value="${plant.common_name}">
                                </div><div class="d-flex justify-content-start col-12 p-0 gap-4">
                                <div class="col-4 p-0">
                                    <div class="">
                                        <label class="form-label" for="sun_amount">Sun Amount</label>
                                        <select class="form-control" name="sun_amount" id="sun_amount">
                                            <option value="FULL_SUN">Full Sun</option>
                                            <option value="PARTIAL_SUN">Partial Sun</option>
                                            <option value="FULL_SHADE">Shaded</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4 p-0">
                                    <div class="">
                                        <label class="form-label" for="water_interval">Water Interval</label>
                                        <input class="form-control" type="number" id="water_interval" name="water_interval" min="1" max="30">
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="d-flex col">
                                <div class="col-12">
                                    <label class="form-label">Is this plant Outside?</label>
                                    <div class="d-flex justify-content-start col-12">
                                        <div class="col-3">
                                            <label class="form-label" for="yes">Yes</label>
                                            <input class="ms-2 radio-1" name="is_outside" id="yes" type="radio" value="true">
                                        </div>
                                        <div class="col-3">
                                            <label class="form-label" for="no">No</label>
                                            <input class="ms-2 radio-2" name="is_outside" id="no" type="radio" value="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end gap-3">
                            <div class="btn btn-primary">
                                <a th:href="@{/plants/quickWater/{id}(id=${plant.id})}" class="text-white">Watered</a>
                            </div>
                            <input type="submit" id="submit" class="btn btn-success" value="Edit">
                        </div>
                    </form>
                </div>
            </div>

            <!--------------LOGS-------------->
            <div class="d-flex view-one-box flex-column p-3 gap-2 mb-5">
                <div class="d-flex col-12 p-0">
                    <h3 class="text-white">Plant Logs</h3>
                </div>
                <div class="m-3">
                    <div class="">
                        <div class="">
                            <div id="" class="d-flex flex-column" th:if="${userGardenPlant.plantLogs.size()>0}">
                                <div class="mb-3 border-bottom" th:each="plantLog: ${usersPlantLogs}">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <p style="color: white;">
                                                [[${plantLog.title}]]
                                                <span style="color: gray;" th:text="${plantLog.created_at}">2023-06-27</span>
                                            </p>
                                            <a th:href="@{/plants/comment/delete/{plant}.{id}(id=${plantLog.id}, plant=${userGardenPlant.id})}">Delete</a>

                                        </div>

                                        <p style="color: white;" th:text="${plantLog.content}"></p>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-3">
                    <form method="post" th:if="${userGardenPlant}" th:action="@{/plants/comment/{id}(id=${userGardenPlant.id})}">
                        <div class="border-3 border-primary rounded">
                            <input type="text" name="title" placeholder="Title" class="form-control mb-2">
                            <textarea name="content" id="content" rows="10" cols="35" placeholder="Log message" class="form-control" style="resize: none;"></textarea>
                        </div>
                        <div class="d-flex justify-content-end gap-3">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load',()=>{
        const loader = document.querySelector('.loading');
        loader.classList.add('loading-hidden');
        loader.addEventListener('transitioned', ()=>{
            document.body.removeChild("loading");
        });
    });

</script>
<script>
    function getRandomTipsId() {
        // Add YouTube video IDs here
        let tips = [
            "Choose the right plants for your garden: Consider the local climate, soil type, and available sunlight when selecting plants. This will increase their chances of thriving.",
            "Proper watering is essential: Water your plants deeply and less frequently to encourage healthy root growth. Watering in the morning is generally best, as it allows foliage to dry before evening and reduces the risk of disease.M",
            "Mulch for moisture retention: Apply a layer of organic mulch around your plants to conserve moisture, suppress weed growth, and maintain more consistent soil temperatures.",
            "Rotate crops: To prevent soil depletion and pest build-up, practice crop rotation by changing the location of plant families each year.",
            "Prune and trim regularly: Pruning and trimming help promote healthy growth and maintain the shape of your plants. Remove dead or damaged branches and encourage airflow by thinning dense foliage.",
            "Use organic pest control: Opt for natural and organic methods to control pests in your garden. Introduce beneficial insects, such as ladybugs and praying mantises, to combat harmful pests.",
            "Provide proper support: Stake tall or climbing plants to provide support and prevent them from bending or breaking due to heavy winds or their own weight.",
            "Feed your plants: Fertilize your garden with organic matter or compost to enrich the soil and provide essential nutrients for plant growth. Follow recommended application rates to avoid over-fertilization.",
            "Consider companion planting: Some plants have natural pest-repellent properties or complementary growth habits. Research companion planting to maximize the health and productivity of your garden.",
            "Maintain a tidy garden: Regularly remove weeds, fallen leaves, and debris from your garden. This reduces the risk of pests and diseases and keeps your garden looking neat and well-maintained.",
            "Flowers can communicate through colors and scents to attract pollinators.",
            "The world's largest flower is the Rafflesia arnoldii, which can grow up to three feet in diameter.",
            "Sunflowers can follow the movement of the sun throughout the day.",
            "Plants release oxygen during the day and carbon dioxide at night.",
            "Dandelion seeds can travel up to five miles in the wind.",
            "The world's tallest tree, the coast redwood, can reach heights of over 350 feet.",
            "The practice of growing plants without soil is called hydroponics.",
            "Venus flytraps are carnivorous plants that trap and digest insects.",
            "A mature tree can absorb up to 48 pounds of carbon dioxide per year.",
            "The largest living organism on Earth is a honey fungus measuring over 2 miles across.",
            "The world's oldest living tree is estimated to be over 5,000 years old.",
            "The largest pumpkin ever recorded weighed over 2,600 pounds.",
            "Bamboo is the fastest-growing plant on the planet, capable of growing up to 35 inches in a single day.",
            "The world's smallest flowering plant is the watermeal, which measures about 1 millimeter in diameter.",
            "The world's largest herb is the banana plant.",
            "The corpse flower emits a strong odor of rotting flesh to attract pollinating insects.",
            "Tomatoes are technically fruits, not vegetables.",
            "The world's most expensive spice, saffron, comes from the crocus flower.",
            "The world's largest living wall is located in Madrid, Spain, covering over 3,800 square feet.",
            "The bluebonnet is the state flower of Texas.",
            "The scent of freshly cut grass is actually a chemical distress signal released by the damaged blades.",
            "The world's largest flower garden, Keukenhof in the Netherlands, covers an area of 79 acres.",
            "The cactus family includes more than 2,000 different species.",
            "Flowers can be used to make natural dyes for fabric and crafts.",
            "The practice of growing and arranging miniature trees is called bonsai.",
            "Test your soil before planting to determine its pH level and nutrient content.",
            "Use companion planting to maximize space and deter pests.",
            "Provide a consistent watering schedule to prevent stress on plants.",
            "Apply mulch around plants to conserve moisture and suppress weeds.",
            "Incorporate organic matter, such as compost, into the soil to improve its structure and fertility.",
            "Deadhead flowers regularly to encourage new blooms.",
            "Use a soaker hose or drip irrigation system to water deeply at the root level.",
            "Start seeds indoors before the growing season to get a head start.",
            "Practice crop rotation to prevent disease and nutrient depletion in the soil.",
            "Attract pollinators by planting a variety of native flowers.",
            "Use natural pest control methods, such as insecticidal soaps and neem oil.",
            "Prune trees and shrubs during their dormant season to promote healthy growth.",
            "Install a rain barrel to collect rainwater for watering plants.",
            "Provide support for tall or vining plants with trellises or stakes.",
            "Remove weeds regularly to prevent them from competing with your plants.",
            "Choose disease-resistant plant varieties to reduce the risk of infections.",
            "Incorporate compost tea into your watering routine for added nutrients.",
            "Avoid over-fertilizing plants, as it can lead to excessive foliage growth with fewer blooms.",
            "Create a habitat for beneficial insects, such as ladybugs and lacewings.",
            "Use floating row covers to protect plants from pests and harsh weather conditions.",
            "Regularly inspect plants for signs of pests or diseases to catch problems early.",
            "Allow fallen leaves to decompose naturally, providing nutrients to the soil.",
            "Provide adequate spacing between plants to allow for proper air circulation.",
            "Practice responsible watering by adjusting irrigation to match weather conditions.",
            "Enjoy the process and take time to relax and appreciate the beauty of your garden."
        ];


        let randomIndex = Math.floor(Math.random() * tips.length);
        return tips[randomIndex];
    }
    function createTips() {
        let tipsId = getRandomTipsId();
        let container = document.querySelector("#container")
        container.innerHTML = tipsId;
    }
    setInterval(function (){
        createTips();
    },6000)
    createTips();

</script>

<script th:inline="javascript">
    function getRandomNotes() {
        let note = [
            "Watering the pixels...",
            "Growing virtual leaves...",
            "Entertaining the plants...",
            "Tickling the roots of the internet...",
            "Photosynthesizing data...",
            "Planting digital seeds...",
            "Pruning the code branches...",
            "Waiting for the virtual rain...",
            "Giving life to the website garden...",
            "Watching the progress grow like a bamboo..."
        ];
        let randomIndex = Math.floor(Math.random() * note.length);
        return note[randomIndex];
    }

    function createTips() {
        document.querySelector("#guideNote").innerHTML = getRandomNotes();
    }

    setInterval(function (){
        createTips();
    },6000)


    function getCareGuideForPlant(plant) {
        fetch(`/plants/careguide/${plant}`)
            .then(response => response.text())
            .then(careGuide => {
                if (careGuide === "") {
                    document.getElementById("careGuide").innerHTML = 'No care guide found for this plant.';
                } else {
                    document.getElementById("careGuide").innerHTML = careGuide;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
    const plant = [[${plant.common_name}]];
    const dbCareGuide = [[${careGuide}]];
    if (dbCareGuide === "" || document.getElementById("careGuide").innerHTML === "") {
        document.getElementById("AIWait").classList.remove("d-none");
        createTips();
        getCareGuideForPlant(plant);
        document.getElementById("AIWait").classList.add("d-none");
    }

    function getPlantDiagnosis(id, stems, leaves, fruits) {
        fetch(`/plants/diagnose/${id}.${stems.value}.${leaves.value}.${fruits.value}`)
            .then(response => response.text())
            .then(chatResponse => {
                if (chatResponse === "") {
                    document.getElementById("chatResponse").innerHTML = 'No diagnosis found for this plant.';
                } else {
                    document.getElementById("diagnoseWait").classList.add("d-none");
                    document.getElementById("getLeaveADJ").innerHTML = stems.options[stems.selectedIndex].innerHTML;
                    document.getElementById("getStemADJ").innerHTML = leaves.options[leaves.selectedIndex].innerHTML;
                    document.getElementById("getFruitADJ").innerHTML = fruits.options[fruits.selectedIndex].innerHTML;
                    document.getElementById("diagnoseResp").classList.remove("d-none");
                    document.getElementById("chatResponse").innerHTML = chatResponse;
                    document.getElementById("saveTitle").value = [[${plant.common_name}]] + " Diagnosis";
                    document.getElementById("saveResponse").value = chatResponse;
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    let getDiagnosis =  document.getElementById("diagnoseAI");
    getDiagnosis.addEventListener("click", function () {
        console.log("clicked")
        document.getElementById("send").classList.add("d-none");
        getDiagnosis.classList.add("d-none");
        document.getElementById("diagnoseForm").classList.add("d-none");
        document.getElementById("diagnoseWait").classList.remove("d-none");
        let plantID = [[${userGardenPlant.id}]];
        let stems = document.getElementById("stemsDiagnose");
        let leaves = document.getElementById("leavesDiagnose");
        let fruits = document.getElementById("fruitsDiagnose");
        getPlantDiagnosis(plantID, stems, leaves, fruits);
        document.getElementById("diagnoseNext").classList.remove("d-none");
    })

    // let getNewGuide = document.getElementById("getNewGuide");
    // getNewGuide.addEventListener("click", function () {
    //     document.getElementById("AIWait").classList.remove("d-none");
    //     createTips();
    //     getCareGuideForPlant(plant);
    //     document.getElementById("AIWait").classList.add("d-none");
    // })

</script>


<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>