<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:insert="partials/head :: head('BotaniBuddy')"></head>
<body>
<header th:replace="partials/navbar :: navbar"></header>


<div class="page-wrapper">
  <div class="container feed" >
    <div class="row">
      <div class="column justify-content-end" style="margin-top: 300px;">

        <script th:inline="javascript">

          document.addEventListener("DOMContentLoaded", function() {
            let searchInput = document.querySelector("#searchInput");
            searchInput.addEventListener("keyup", function() {
              let query = this.value;

              let xhr = new XMLHttpRequest();
              xhr.open("GET", "/friends/search?query=" + query);
              xhr.onload = function() {
                if (xhr.status === 200) {
                  let data = JSON.parse(xhr.responseText);
                  // Handle the returned users data, e.g., update the UI with the search results
                  console.log(data);
                }
              };
              xhr.send();
            });
          });


        </script>
        <div class="row">
          <label for="searchInput">Search for users</label>
          <input id="searchInput" class="d-flex"
                 name="query"
                 type="text"
                 placeholder="Search users">
          <ul id="searchResults"></ul>
        </div>

        <h1>Search Results</h1>

        <ul>
          <li th:each="user : ${users}">
            <span th:text="${user.username}"></span>
            <span th:text="${user.email}"></span>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>