<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/head :: head('BotaniBuddy Plant Details')"></head>

<body>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<!--Start Page Container-->
<div class="d-flex container create justify-content-center align-content-center">
    <div class="row">
        <div class="column search-column" th:if="${plant}">
                <form>
                    <button class="nav-buttons nav-link" onclick="history.back()">Go Back!</button>
                </form>
                <h1 class="text-white">Plant Details</h1>
                <div class="d-flex col mb-5 plant-box">
                    <p class="d-block mb-4 plant-name" th:text="${plant.common_name}"></p>
                    <div class="d-flex">
                        <img class="d-flex plantSearchImg justify-content-center align-self-center" th:src="${plant.image_url}" alt="Plant Photo">
                    </div>
                    <div class="column ms-2 plant-info-holder align-self-center">
                        <p class="plant-info justify-content-center align-self-center" th:text="'Family:   ' + ${plant.family}"></p>
                        <p class="plant-info justify-content-center" th:text="'Genus:   ' + ${plant.genus}"></p>
                        <p class="plant-info justify-content-center" th:text="'Scientific Name:   ' + ${plant.scientific_name}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.growth_habit}" th:text="'Growth Habit:   ' + ${plant.growth_habit}"></p>
                        <p class="plant-info justify-content-center" th:text="'Edible:   ' + ${plant.edible}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.minimum_temperature}" th:text="'Minimum Temperature:   ' + ${plant.minimum_temperature}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.maximum_temperature}" th:text="'Maximum Temperature:   ' + ${plant.maximum_temperature}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.ph_minimum}" th:text="'Minimum PH:   ' + ${plant.ph_minimum}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.ph_maximum}" th:text="'Maximum PH:   ' + ${plant.ph_maximum}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.description}" th:text="'Description:   ' + ${plant.description}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.sun_requirements}" th:text="'Sun_requirements:   ' + ${plant.sun_requirements}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.sowing_method}" th:text="'Sowing_method:   ' + ${plant.sowing_method}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.spread}" th:text="'Spread:   ' + ${plant.spread}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.row_spacing}" th:text="'Row Spacing:   ' + ${plant.row_spacing}"></p>
                        <p class="plant-info justify-content-center" th:if="${plant.careGuide}" th:text="'Care Guide:   ' + ${plant.careGuide}"></p>
                    </div>
                </div>
                <div class="row">
                    <h3 class="subtitle">Add this plant to your Garden?</h3>
                    <form method="post" th:action="@{/plants/{id}(id=${plant.id})}">
                        <!--          get trefle-->
                        <input type="text" name="name" placeholder="Name your plant?">
                        <label class="quote" for="sun_amount">Sun Amount</label>
                        <select name="sun_amount" id="sun_amount">
                            <option value="FULL_SUN">Full Sun</option>
                            <option value="PARTIAL_SUN">Partial Sun</option>
                            <option value="FULL_SHADE">Shaded</option>
                        </select>
                        <label  class="quote" for="water_interval">Water Interval</label>
                        <input type="number" id="water_interval" name="water_interval" min="1" max="30">
                        <label class="quote">Is this plant Outside</label>
                        <label  class="quote" for="yes">Yes
                            <input name="is_outside" id="yes" type="radio" value="true">
                        </label>
                        <label  class="quote" for="no">No
                            <input name="is_outside" id="no" type="radio" value="false">
                        </label>

                        <input type="submit" class="ui button">Save
                    </form>
                </div>

        </div>
    </div>
</div>
<!-- footer start -->
<!-- footer end -->
</body>
</html>
