<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('BotaniBuddy Home')"></head>
<!--commenting-->
<body>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->


<div class="d-flex container create justify-content-center align-content-center">
  <!--Start Profile-->
  <div class="container emp-profile">
    <form method="post">
      <!--Start Row-->
      <div class="row">
        <div class="col-md-4">
          <!--Start Profile Img-->
          <form class="form-horizontal flex-grow-1">
            <div class="profile-img">
              <div class="panel-body text-center">
                <div>
                  <img class="img-circle profile-avatar" th:src="${owner.profile_pic}" id="user-img" height ="64px"
                       alt="User avatar">
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--End Profile Img-->

        <!--Start Profile Header-->
        <div class="col-md-6">
          <div class="profile-head">
            <h5  class="subtitle" th:text="${owner.first_name} + ' ' + ${owner.last_name}"></h5>
            <h6 class="quote" th:text="${owner.username}"></h6>
            <h6 class="quote" th:text="'Date Joined: ' + ${owner.created_at}"></h6>
            <p th:text="${owner.city}"></p>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-3" th:if="${unknown.contains(owner) && !requested.contains(owner)}">
            <a class="btn btn-primary" th:href="@{/friends/{id}(id=${owner.id})}">Add</a>
          </div>
        </div>


      </div>
    </form>
  </div>
</div>

<div class="col" th:if="${allPosts}">

  <h1 class="text-white">Posts by <span class="text-info" th:text="${owner.username}"></span></h1>
  <div th:each="post : ${allPosts}">

    <div class="card container" style="width: 100%">
      <div class="card-body">
        <div class="card-title"> [[${post.title}]] </div>
        <p class="card-text"> [[${post.body}]] </p>
        <!--                <a th:href="${posts.id}" class="btn btn-primary">View</a>-->
        <ul>
          <li class="row justify-right" sec:authorize="!isAuthenticated()">
            <form th:action="@{/posts/{id}(id=${post.id})}" >
              <button  class="btn btn-primary" >view</button>
            </form>
          </li>
          <li class="row justify-right" sec:authorize="isAuthenticated()">
            <form th:action="@{/posts/{id}(id=${post.id})}" >
              <button  class="btn btn-primary" >view</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Container -->

<!-- footer start -->
<footer th:replace="partials/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>