<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:insert="partials/head :: head('BotaniBuddy Home')"></head>
<!--commenting-->
<body>
<!--Navbar Start-->
<header th:replace="partials/navbar :: navbar"></header>
<!-- Navbar End -->

<div class="row" th:if="${user}" style="margin-top: 250px;">
  <div class="col-3">
    <div>
      <img class="img-circle profile-avatar" style="width: unset;"
           th:src="${user.profile_pic}"
           id="profile-img" height="64px" width="64px" alt="User avatar">
    </div>
    <div>
      <p th:text="${user.username}"></p>
    </div>
  </div>
  <div class="col-3">
      <div>
        <h1 th:text="${user.first_name}"></h1>
        <p th:text="${user.email}"></p>
        <p th:text="${user.city}"></p>
      </div>
  </div>

  <div th:if="${users.contains(user)}">
    <a th:href="@{/friends/{id}(id=${user.id})}">Add</a>
  </div>
</div>

<div class="col" th:if="${allPosts}">
  <div th:each="post : ${allPosts}">

    <div class="card container" style="width: 100%">
      <div class="card-body">
        <div class="card-title"> [[${post.title}]] </div>
        <p class="card-text"> [[${post.body}]] </p>
        <!--                <a th:href="${posts.id}" class="btn btn-primary">View</a>-->
        <ul>
          <li class="row justify-right" sec:authorize="!isAuthenticated()">
            <form th:action="@{/posts/{id}(id=${post.id})}" >
              <button  class="btn btn-primary" >view</button>
            </form>
          </li>
          <li class="row justify-right" sec:authorize="isAuthenticated()">
            <form th:action="@{/posts/{id}(id=${post.id})}" >
              <button  class="btn btn-primary" >view</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Page Container -->

<!-- footer start -->
<footer th:replace="partials/footer :: footer"></footer>
<!-- footer end -->
</body>
</html>