<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<div class="page-wrapper">
    <div class="container feed">
        <div class="row">
            <div class="column">

                <h3>Weather</h3>
                <div th:if="${weather}">
                    <p th:text="${weather.getTempAvg()}"></p>
                    <p th:text="${weather.getHumidity()}"></p>
                    <p th:text="${weather.getSunrise()}"></p>
                    <p th:text="${weather.getSunset()}"></p>
                    <p th:text="${weather.getCloudiness()}"></p>
                    <p th:text="${weather.getCloudDesc()}"></p>
                    <p th:text="${weather.getWindSpeed()}"></p>
                </div>

                <h3>PLANTS OUTSIDE</h3>
                <div th:if="${outdoorPlant}" th:each="plant : ${outdoorPlant}">
                    <p th:text="${plant.user.username}"></p>
                    <p th:text="${plant.plant.name}"></p>
                    <p th:text="${plant.sun_amount}"></p>
                    <p th:text="${plant.water_interval}"></p>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>