<!DOCTYPE html>
<html  lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div class="page-wrapper">
    <div class="container feed">
        <div class="row">
            <div class="column">

                <h3>Weather</h3>
                <div th:if="${weather}">
                    <p th:text="${weather.getTempAvg()}"></p>
                    <p th:text="${weather.getHumidity()}"></p>
                    <p th:text="${weather.getSunrise()}"></p>
                    <p th:text="${weather.getSunset()}"></p>
                    <p th:text="${weather.getCloudiness()}"></p>
                    <p th:text="${weather.getCloudDesc()}"></p>
                    <p th:text="${weather.getWindSpeed()}"></p>
                </div>

                <h3>PLANTS OUTSIDE</h3>
                <div th:if="${outdoorPlant}" th:each="plant : ${outdoorPlant}">
                    <p> Plant Name: <span th:text="${plant.plant.name}"></span></p>
                    <p> Req'd Sun Amount: <span  th:text="${plant.sun_amount}"></span></p>
                    <p> Req'd water Amount: <span th:text="${plant.water_interval}"></span></p>
                    <p> BotaniBuddy SunTip: <span  th:text="${plant.getSun_tip}"></span></p>
                    <p> BotaniBuddy WaterTip: <span  th:text="${plant.getWater_tip}"></span></p>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>